<div class="row">
  <!--
  <div class="col s12">
    <ul id="tileeditTabs" class="tabs teal lighten-3">
      <li class="tab col s3"><a href="#todo">todo</a></li>
      <li class="tab col s3"><a href="#mapId2">mapId2</a></li>
    </ul>
  </div>
  -->

  <div id="tileedit" class="col s9">
    <!-- Other stuff gets dynamically loaded in -->
    <div id="editor" class=""></div>
  </div>

  <!-- accordian menu? multiple maps using same sheets? -->
  <div id="tilesheets" class="col s3"></div>

  <div id="chat" class="col s12"></div>

  <div id="todo" class="col s12"></div>
</div>
